* {
  padding: 0;
  margin: 0;
}

.wrapper-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #494B55;
  font-size: 1.2em;
}

.cards-wrapper,
.buttons-wrapper {
  max-width: 1350px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 70%;
}

.buttons-wrapper {
  width: 90%;
  margin-top: 2em;
}

.rating-button-asc,
.rating-button-desc,
.reset-button {
  font-family: Montserrat, Verdana, sans serif;
  font-weight: 400;
  color: darkslategray;
  border: none;
  flex: 1;
}

.rating-button-asc,
.rating-button-desc {
  font-size: 1em;
  padding: 0.8em;
}

.rating-button-asc {
  background-color: #d9ede6;
}

.rating-button-desc {
  background-color: #dde8ec;
}

.rating-button {
  font-size: 1em;
  padding: 0.8em;
}

.reset-button {
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 0.5em;
  background-color: #bbc5cf;
  margin-bottom: 5px;
}

.reset-button:hover {
  background-color: #64848a;
}

.buttons-row {
  display: flex;
  flex-flow: row wrap;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

button:focus {
  outline: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #BBC5CF;
  border-radius: 8px;
  width: 20em;
  box-shadow: 3px 3px 8px 1px #a1b3c4;
  margin: 40px;
}

.hotel-name {
  font-size: 1.4em;
  letter-spacing: 2px;
  margin: 15px 0px 15px 0px;
}

.star {
  margin: 0px 2px;
  opacity: 0.9;
}


.facilities-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #BBC5CF;
  padding-top: 10px;
  margin: 35px 0px 15px 0px;
  width: 100%;
  font-size: 0.8em;
}

.checkboxes-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  height: 4em;
  margin: 6px 0px 6px 0px;
  padding: 10px;
  border: 1px solid #dde8ec;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.check-label {
  margin-left: 5px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.hotel-img {
  width: 250px;
  border-radius: 8px;
}

@media only screen and (max-width: 650px) {
  .checkboxes-wrapper {
    height: 8em;
    padding-left: 4em;
  }
}

@media only screen and (max-width: 420px) {

  .wrapper-app {
    width: 80%;
    font-size: 0.9em;
  }

 .checkboxes-wrapper {
    height: 12em;
    padding: 5px;
  }

  .hotel-img {
    width: 120px;
  }

  .star {
    width: 12px;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
 }

  .card {
    margin: 15px;
 }
}


