.wrapper-app {
  font-family: Josefin Sans, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-files {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: 70%;
  margin: 0.6rem;
  padding: 0.6rem;
}

.wrapper-top-level {
  border: 1px solid lightslategray;
  border-radius: 0.5rem;
  margin: 0.6rem;
  padding: 0.6rem;
}
